@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@700&display=swap');

.div {
  /* background-repeat: no-repeat; */
  /* background-position-y: center; */
  /* width: 100%; */
  /* margin-top: 2rem; */
  /* margin-top: 50rem; */
  position: relative;
  height: 100VH;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../../Assets/teste3.jpeg');
  background-size: cover;
}

.subtitle {
  font-family: 'Kumbh Sans', sans-serif;
  color: #f4d7d7;
  text-shadow: 2px 2px 2px #59002d;
  font-size: 3rem;
}


@media (max-width: 40rem) {
  .div {
    height: 100vh;
    background-size: contain  no-repeat;
    background-position-x: right;
  }
  .subtitle {
    font-size: 1.5rem;
    letter-spacing: .2rem;
    margin-left: 2rem;
  }
}
