@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@700&display=swap');

.header {
  position: absolute;
  width: 100%;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 2rem;
  flex-wrap: wrap;
}

.logo {
  width: 80px;
  box-shadow: 2px 2px 2px #f4d7d7;
  border-radius: 50px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link {
  font-family: 'Kumbh Sans', sans-serif;
  font-weight: bold;
  font-size: 1.3rem;
  letter-spacing: 0.1rem;
  color: #59002d;
  transition: 0.3s;
  position: relative;
  margin: 0 20px;
  text-shadow: 2px 2px 2px #f4d7d7;
}

.link:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: '';
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #59002d;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
  color: #59002d;
}
.link:hover:after {
  width: 100%;
  left: 0;
  color: #59002d;
}

.navL {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 2rem;
}

.navR {
  margin-right: 2rem;
}

.title {
  font-family: 'Kumbh Sans', sans-serif;
  font-weight: bold;
  font-size: 2.3rem;
  margin-left: 0.5rem;
  letter-spacing: 0.1rem;
  color: #59002d;
  text-shadow: 2px 2px 2px #f4d7d7;
}

@media (max-width: 40rem) {
  .title {
    font-size: 1rem;
  }
}


/* .mobileButton {
  background: #59002d;
  border-radius: .4rem;
  height: 40px;
  width: 40px;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  transition: .2s;
  cursor: pointer;
}

.mobileButton::after {
  content: '';
  display: block;
  width: 1.2rem;
  height: 2px;
  border-radius: 2px;
  background: #f4d7d7;
  box-shadow: 0 6px #f4d7d7, 0 -6px #f4d7d7;
  transition: .3s;
}

.mobileButton:focus, .mobileButton:hover, .mobileButtonActive:hover {
  outline: none;
  background: #de8787;
  box-shadow: 0px 0px 1px  #59002d;
  border-color: #59002d;
  color: #59002d;

}

.mobileButtonActive::after {
  transform: rotate(-90deg);
  width: 4px;
  height: 4px;
box-shadow: 0 8px #59002d, 0 -8px #59002d;
} */

.mobileButton {
  background: #59002d;
  border-radius: 0.2rem;
  height: 40px;
  width: 60px;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.5px solid transparent;
  border-radius: 5px;
  transition: 0.2s;
  cursor: pointer;
  color: #e7e9e9;
  /* margin-right: 2rem; */
}

.mobileButton::after {
  content: '';
  display: block;
  width: 1.2rem;
  height: 2px;
  border-radius: 2px;
  background: currentColor;
  box-shadow: 0 6px currentColor, 0 -6px currentColor;
  transition: 0.2s;
}

.mobileButton:focus,
.mobileButton:hover,
.mobileButtonActive {
  outline: none;
  background: #fff;
  box-shadow: 0 0 0 2px #de8787;
  border-color: #59002d;
  color: #59002d;
}

.mobileButtonActive::after {
  transform: rotate(90deg);
  width: 4px;
  height: 4px;
  box-shadow: 0 8px currentColor, 0 -8px currentColor;
}


.navMobile {
  display: block;
  position: absolute;
  top: 70px;
  right: 0;
  padding: 0 1rem;
  background: #fff;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 2);
  border-radius: 0.2rem;
  transform: translateX(-10px);
  opacity: 0;
  pointer-events: none;
}

.navMobileActive {
  transition: .2s;
  transform: initial;
  opacity: 1;
  pointer-events: initial;
  z-index: 100;
}

.navMobile a,
.navMobile button {
  display: flex;
  align-items: center;
  background: none;
  width: 80%;
  border: none;
  border-bottom: 1px solid rgb(191, 188, 188);
  padding: .5rem 0;
  cursor: pointer;
}

.navMobile button {
  border-bottom: none;
}